@use "@styles" as *;

body {
  @include flex-center;

  width: 100%;
  min-height: 100vh;
  padding: 100px 30px;
  background-color: $main-color;
  font-family: 'Open Sans', sans-serif;
}

input,
label,
button {
  transition-duration: $transition-duration;
}

:focus-visible {
  outline: 2px dashed $dark-violet;
  outline-offset: 4px;
  -moz-outline-radius: 8px;
  transition-duration: 0s !important;
}