@use "@styles" as *;

html, body {
  /*overflow: hidden;*/
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  width: 100%;
  height: 100vh;
  background-color: $main-color;
  font-family: 'Open Sans', sans-serif;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow: hidden;
}


input,
label,
button {
  transition-duration: $transition-duration;
}

:focus-visible {
  outline: 2px dashed $dark-violet;
  outline-offset: 4px;
  -moz-outline-radius: 8px;
  transition-duration: 0s !important;
}