@use "@styles" as *;

.auth-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 674px;
  padding: 0 67px;
  padding-top: fluid(70, 40);
  padding-bottom: fluid(41, 30);
  background-color: $white;
  border-radius: 20px;
  margin-top: fluid(50, 20);
}

.pass-field {
  margin-top: 60px;
}

.auth-button {
  max-width: 140px;
  max-height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: rem(20);
  margin: 0 auto;
  margin-top: 50px;

}

.registration {
  @include font-secondary(300);


  text-decoration: none;
  font-size: rem(18);
  color: $light-violet;
  transition-duration: 0.2s;
  margin: 0 auto;
  margin-top: 25px;

  &:hover {
    color: $dark-violet;
  }

  &:visited {
    color: $light-violet;
  }
}

@media screen and (min-width: 1439px) {
  .auth-form {
    padding: 90px 67px 41px 67px;
  }
}

@media screen and (max-height: 1000px) {
  .auth-form {
    max-width: 500px;
    padding: 40px;
    padding-top: 60px;
    margin: 0 auto;
    margin-top: 40px;
  }

  .auth-button {
    max-width: 120px;
    max-height: 50px;
    font-size: rem(18);
    margin-top: 40px;
  }
}

@media screen and (max-width: 767px) {
  .auth-form {
    padding: 0 20px;
    padding-top: 49px;
    padding-bottom: 30px;
  }

  .pass-field {
    margin-top: 49px;
  }
}