$white: #ffffff;
$dirt-white: #F8F8F8;
$dark-white: #E4DEDE;
$main-color: #E5EDFF;
$light-violet: #5338FF;
$dark-violet: #3623B2;
$max-dark-violet: #322C8A;
$gray: #C2C3C4;
$light-gray: #5D6671;
$light-light-gray: #797373;
$alter-gray: #878C92;
$max-light-gray: #D9D1D1;
$light-red: #FF9191;
$red: #E50505;

$transition-duration: .3s;

$header-and-footer-max-height: 98px;