$white: #ffffff;
$main-color: #E5EDFF;
$light-violet: #5338FF;
$dark-violet: #3623B2;
$gray: #C2C3C4;
$light-gray: #5D6671;
$alter-gray: #878C92;
$max-light-gray: #D9D1D1;
$light-red: #FF9191;

$transition-duration: .3s;

$header-and-footer-max-height: 98px;